<ng-template [ngIf]="branch">
    <h2>{{branch.id === -1 ? 'Création d\'une nouvelle branche' : 'Edition de la branche'}}</h2>

    <div class="grid-double">
        <div class="input-row">
            <label>Nom : </label>
            <input [(ngModel)]="branch.name" placeholder="Nom de la branche" />
        </div>
        <div class="input-row">
            <label>Alias : </label>
            <input [(ngModel)]="branch.aliasName" placeholder="Alias de la branche" />
        </div>
    </div>

    <div class="sub-branchs">
        <label>Sous-branches :</label>
        <div>
            <div *ngFor="let child of (branch.children || []); let i = index">
                <branch-view [branch]="child" [editabled]="true"
                    (onRemove)="branch.children?.splice(i, 1)"></branch-view>
            </div>
        </div>
    </div>

    <div class="choose">
        <select #chooseChild>
            <option *ngFor="let branch of allBranchs" [value]="branch.id">{{branch.name}} (v{{branch.version}})
            </option>
        </select>
        <button (click)="onAddChild(chooseChild)">+</button>
    </div>

    <hr />

    <div class="node">
        <label>Feuilles :</label>
        <div>
            <div *ngFor="let child of (branch.leafs || [])">
                <leaf-view [leaf]="child"></leaf-view>
            </div>
        </div>
    </div>

    <div class="choose-leafs">
        <select #chooseLeafChild>
            <option *ngFor="let leaf of getAvailabledLeafs()" [value]="leaf.id">{{leaf.name}} ({{leaf.aliasName}})
            </option>
        </select>
        <button (click)="onAddLeaf(chooseLeafChild)">+</button>
    </div>

    <div class="actions">
        <button (click)="onSave()">Sauvegarder</button>
        <button (click)="onCancel()">Annuler</button>
    </div>
</ng-template>