@import '../../../styles/utils.scss';

:host {
  display: block;
  border: 1px solid black;
}

.preview-datas {
  margin-top: 16px;
}

.add-filter {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;

  label {
    white-space: nowrap;
  }

  select {
    flex: 1;
  }
}

.filter-values {
  display: flex;
  align-items: center;
  gap: 16px;
}