<ng-template [ngIf]="filter">
    <ng-template [ngIf]="!isChild">
        <p>Est une inclusion <input type="checkbox" [checked]="filter.include" (change)="onIncludeChange($event)" /> {{
            filter.include ? 'oui' : 'non' }}</p>
        <hr />
    </ng-template>
    <div class="filter grid-triple">
        <span>TYPE : {{filter.label}}
            <!-- <select [(ngModel)]="filter.label">
                <option *ngFor="let type of this.datasService.dataTypes()" [value]="type.id">{{type.label}}</option>
            </select> -->
        </span>
        <div>
            <p>FILTRE : <input [(ngModel)]="filter.columnFilter" /> (regex pour <a href="https://regex101.com/"
                    target="_blank">tester</a>)</p>
            <div class="preview-datas">
                Données existantes : <select>
                    <option *ngFor="let l of lines" [value]="l.value">{{l.value}} {{isMatch(l.value) ? ' - ✔' : ''}}
                    </option>
                </select>
            </div>
        </div>
        <button (click)="onRemove.emit()">Supprimer</button>
    </div>
    @for(child of filter.children; track child.id; let index = $index) {
    <app-leaf-data [filter]="child" [isChild]="true" (onRemove)="filter.children.splice(index, 1)"></app-leaf-data>
    }
    <div class="add-filter" *ngIf="!isChild">
        <label>Ajouter un filtre en OU :</label>
        <select #filterType>
            <option *ngFor="let type of this.datasService.dataTypes()" [value]="type.id">{{type.label}}</option>
        </select>
        <button (click)="onAddOr()">Ajouter OU</button>
    </div>
</ng-template>