@import '../../styles/utils.scss';

:host {
  display: block;
  padding: 32px;
}

h2 {
  margin-bottom: 16px;
}

.input-row {
  margin-bottom: 16px;
}
  
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.add-filter {
  > div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}