<h2>Edition d'une feuille</h2>

<ng-template [ngIf]="leaf">
    <div class="grid-double">
        <div class="input-row">
            <label>Nom : </label>
            <input [(ngModel)]="leaf.name" placeholder="Nom de la feuille" />
        </div>
        <div class="input-row">
            <label>Alias : </label>
            <input [(ngModel)]="leaf.aliasName" placeholder="Alias de la feuille" />
        </div>
    </div>

    <div class="requested-filters">
        <label>Filtres :</label>
        <p *ngIf="(leaf.datasFilters || []).length === 0">Aucuns</p>
        <div *ngFor="let filter of (leaf.datasFilters || []); let index = index">
            <div class="filter grid-triple">
                <span>TYPE : {{filter.label}}</span>
                <p>FILTRE : <input [(ngModel)]="filter.columnFilter" /> (regex pour <a href="https://regex101.com/"
                        target="_blank">tester</a>)</p>
                <button (click)="leaf.datasFilters.splice(index, 1)">Supprimer</button>
            </div>
        </div>
    </div>

    <div class="add-filter">
        <label>Ajouter un filtre :</label>
        <div>
            <select #filterType>
                <option *ngFor="let type of dataTypes" [value]="type.id">{{type.label}}</option>
            </select>
            <button (click)="onAddFilter()">Ajouter</button>
        </div>
    </div>

    <div class="requested-counted">
        <label>Calculés :</label>
        <p *ngIf="(leaf.datasCounted || []).length === 0">Aucuns</p>
        <div *ngFor="let filter of (leaf.datasCounted || []); let index = index">
            <div class="filter grid-triple">
                <span>TYPE : {{filter.label}}</span>
                <button (click)="leaf.datasCounted.splice(index, 1)">Supprimer</button>
            </div>
        </div>
    </div>

    <div class="add-filter">
        <label>Ajouter un élément à compter :</label>
        <div>
            <select #countedType>
                <option *ngFor="let type of dataTypes" [value]="type.id">{{type.label}}</option>
            </select>
            <button (click)="onCountedFilter()">Ajouter</button>
        </div>
    </div>

    <div class="actions">
        <button (click)="onSave()">Sauvegarder</button>
        <button (click)="onCancel()">Annuler</button>
        <button (click)="onPreview()">Prévisualiser (resultat + lignes)</button>
    </div>

    <div class="preview" *ngIf="lines.length">
        <h3>Prévisualisation</h3>
        <p>Resultat: {{total}}</p>
        <table>
            <thead>
                <tr>
                    <th *ngFor="let column of linesHeaders">{{column.label}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let line of lines">
                    <td *ngFor="let column of linesHeaders">{{line[column.value]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>