@import '../../styles/utils.scss';

:host {
  display: block;
  padding: 32px;
}

h2 {
  margin-bottom: 16px;
}

.input-row {
  margin-bottom: 16px;
}
  
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.requested-filters {
  margin-bottom: 32px;

  > div {
    margin-bottom: 16px;
  }
}

.add-filter {
  > div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.actions {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}

.preview {
  margin-top: 32px;

  table td, table th {
    border: 1px solid gray;
  }
}

.requested-counted {
  margin-top: 32px;
}